[Unit]
Description=A simple USB HID presence detector driver.

[Service]
Environment=
ExecStart=/usr/bin/pddriver
Restart=always
Environment=DISPLAY=:0

[Install]
WantedBy=graphical-session.target
